html {
  background-color: #426;
  font-family: "Trebuchet MS", sans-serif;
  width: 100vw;
  height: 100svh;
  overscroll-behavior: none;
  touch-action: manipulation;
}

body {
  margin: 0px;
  overscroll-behavior: none;
}

#content {
  width: max-content;
  overscroll-behavior: none;
  transform-origin: top left;
}

#main {
  padding: 8px 8px 2px 8px;
}

#footer {
  padding-left: 8px;
  margin-top: -8px;
}

.no-scroll {
  overflow: clip;
}

p {
  color: #777;
}

a, a:visited {
  color: #0483CE;
  text-decoration: none;
}

a:hover {
  color: #0697D8;
  text-decoration: underline;
}

fieldset {
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

legend {
  color: #DDD;
  float: left;
  font-size: 120%;
  min-width: 160px;
}

#content.alt-layout legend {
  float: unset;
  padding-top: 4px;
  padding-bottom: 2px;
}

button {
  color: #DDD;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 100%;
  background-color: #47C;
  padding: 10px;
  margin-right: 2px;
  min-width: 120px;
  border: 2px solid #47C;
  border-radius: 8px;
  user-select: none;
}

button[aria-pressed=true] {;
  border: 2px solid #DDD;
}

button:disabled {
  color: #888;
  background-color: #666;
  border: 2px solid #666;
}

button.realfake {
  min-width: 80px;
}

button.realfake[aria-pressed=true] {
  background-color: #B54;
  border: 2px solid #B54;
}

label {
  display: inline-block;
  color: #777;
  font-weight: bold;
  background-color: #238;
  padding: 10px;
  margin-right: 8px;
  min-width: 120px;
  border: 2px solid #238;
  border-radius: 8px;
  user-select: none;
}


label:nth-of-type(2) {
  background-color: #832;
  border: 2px solid #832;
}

label:has(input[type=radio]:checked) {
  color: #DDD;
  background-color: #47C;
  border: 2px solid #DDD;
}

label:has(input[type=radio]:checked):nth-of-type(2) {
  color: #DDD;
  background-color: #B54;
  border: 2px solid #DDD;
}

label > input[type=radio] {
  appearance: none;
}
